@model IEnumerable<LAb_mvc_prvat_nova.Models.FriendModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-outline-success" })
</p>
@using (Html.BeginForm(null, null, FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table" id="mojaTabela">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.ActionLink("Friend name", "Index", new { sortOrder = ViewBag.NameSortParm, SearchString = Request.QueryString["SearchString"] })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MestoZiveenje)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
    {
        <tr id="redica_@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MestoZiveenje)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-light" })
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                @Ajax.ActionLink("Delete", "Delete", new { id = item.Id }, new AjaxOptions { HttpMethod = "DELETE", UpdateTargetId = "redica_" + item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script>
        /*$(document).ready(function () {
            $("#mojaTabela").DataTable();
        });*/
    </script>
    }